<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataBase" connectionString="Data Source=..\..\..\DataBase\LibraryManagementSystem.db;Version=3;" providerName="System.Data.SqlClient"/>
		<add name="rootDataBase" connectionString="..\..\..\DataBase\LibraryManagementSystem.db" providerName="System.Data.SqlClient"/>
		<add name="structureScriptPath" connectionString="..\..\..\Scripts\DB_Structure.txt" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>